* {
  margin: auto;
}

body {
  background-color: #add140;
  color: #FFF;
}

.content {
  margin: auto;
  max-width: 600px;
}

img.logo {
  border-radius: 25%;
  width: 75px;
  height: 75px;
  margin: 20px 10px;
}

.name > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px;
  display: block;
}

ul#output {
  padding-left: 0px;
  margin-left: -5px;
}

ul#output li {
  list-style-type: none;
  margin: 5px;
  padding: 1px 5px 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Montserrat', Helvetica;
  color: #000;
  background-color: #008080;
}

.navBar {
  background-color: #008080;
  max-width: 600px;
}

a, a:focus, a:hover ,a:visited {
  color: #FFF;
  text-decoration: none;
}

li.active, li.active>a:hover, li.active>a:visited, li.active>a:focus {
  background-color: #f4921a;
}